/* Estilos Generales */
/*HEADER*/
.nav-principal {
  font-size: 17px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 60px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 13px 13px 3px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.nav-principal img {
  margin: 0;
}
.nav-principal img.nav-marca {
  width: 80px;
  margin-left: 18px;
}
.nav-principal ul {
  display: flex;
}
.nav-principal ul li {
  padding: 15px;
  margin-right: 1;
  margin: 0;
}
.nav-principal ul li a:hover {
  border-bottom: 2px solid #F4EAE0;
}
.nav-principal .abrir-menu {
  display: none;
}
.nav-principal .nav-menu {
  display: flex;
  gap: 1rem;
}

/* main de index */
/* Banner de inicio */
#full {
  display: flex;
  margin-top: 100px;
}

.full {
  background: url(../img/cuadro17.jpeg) 50% 62%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: table;
  margin: 0;
  top: 0;
}
.full-inicio {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.full-inicio .content-inicio {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.full-inicio .content-inicio h1 {
  font-family: "century gothic", sans-serif;
  font-size: 500%;
  color: #ffffff;
  text-shadow: 0 0 500px rgb(255, 255, 255);
  margin-bottom: 80px;
  margin-top: 80px;
  opacity: 95%;
}
.full-inicio .content-inicio a {
  margin-top: 50px;
  font-size: 150%;
  border-radius: 9px;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid;
  padding: 7px 13px;
  text-shadow: 0 0 500px rgb(255, 255, 255);
}
.full-inicio .content-inicio a:hover {
  color: #b46e6e;
}

/* Footer */
.footer-pagina {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.1);
}
.footer-pagina .pie-pagina .grupo-1 {
  margin: auto;
  padding-top: 0px;
  width: 80px;
}
.red-social {
  margin: 10px;
}

/* SECCION DE CONTACTANOS */
.footer-pagina-contactanos {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.1);
}
.footer-pagina-contactanos .grupo-1 .footer-seccion img {
  width: 80px;
}

/* GALERIA */
main .box-galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
main .box-galeria .galeria-imagenes {
  display: flex;
  flex-direction: column;
  width: 33%;
}
main .box-galeria .galeria-imagenes img {
  height: 100%;
  padding-bottom: 20px;
  border-radius: 8px;
  margin-left: 20px;
}
main .galeria-inicio img {
  width: 100%;
  height: 100%;
}
main .galeria-inicio h1 {
  font-size: 60px;
  width: 100%;
  text-align: center;
  margin-top: 15vh;
  color: #98918b;
  font-weight: bold;
}

/*Sobre Mi*/
/* SOBRE MI */
.contenedor-sobremi {
  width: 100%;
  min-height: 100vh;
  display: grid;
}
.contenedor-sobremi .row-sobremi {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
  margin-top: 25px;
  margin-left: 25px;
}
.contenedor-sobremi .row-sobremi .imagen-alejo {
  overflow: hidden;
}
.contenedor-sobremi .row-sobremi .imagen-alejo img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: 0.9s;
}
.contenedor-sobremi .row-sobremi .imagen-alejo img:hover {
  transform: scale(1.08);
}
.contenedor-sobremi .row-sobremi .contenedor-dos .texto-alejo {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.contenedor-sobremi .row-sobremi .contenedor-dos .texto-alejo span {
  font-size: 18px;
  font-weight: bold;
  width: 70px;
  height: 5px;
}
.contenedor-sobremi .row-sobremi .contenedor-dos .texto-alejo h2 {
  font-size: 50px;
  font-weight: 700;
  color: #b46e6e;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #b46e6e;
  line-height: 32px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.contenedor-sobremi .row-sobremi .contenedor-dos .texto-alejo p {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.contenedor-sobremi .row-sobremi .contenedor-dos a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #b46e6e;
  color: #fff;
  padding: 15px 40px;
  letter-spacing: 1px;
  align-items: center;
}

/* Simbologia */
.Cards-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 100px;
}
.Cards-contenedor .card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 13px 3px rgba(50, 50, 50, 0.256);
  width: 33%;
  border-radius: 30px;
  border: 9px solid rgba(153, 38, 38, 0.485);
}
.Cards-contenedor .card .card-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.main-contactanos {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fondo-contactenos.jpg);
  opacity: 0.8;
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor-contactanos {
  margin-top: 70px;
  margin-bottom: 24px;
  margin-right: 28%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 15px;
  gap: 10px;
  width: 100%;
}

.box-info {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 40px;
}
.box-info h1 {
  text-align: left;
  margin-left: 45px;
  letter-spacing: 5px;
  font-family: "Kalnia", serif;
  font-family: "Karla", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Tajawal", sans-serif;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Tajawal", sans-serif;
}
.data p {
  font-size: 1rem;
  font-family: "Tajawal", sans-serif;
}
.data p i {
  margin-right: 10px;
  font-size: 25px;
}

.links-contactos {
  margin-left: 25px;
  display: flex;
  gap: 35px;
}
.links-contactos a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  text-align: center;
  border-radius: 7px;
  transition: 0.1s;
  color: #000000;
  line-height: 40px;
  font-size: 20px;
}
.links-contactos a:hover {
  background-color: #8d8379;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.input-box input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 7px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.99);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: rgb(0, 0, 0);
  box-shadow: 0px 13px 6px -7px rgba(0, 0, 0, 0.1);
}
.input-box input:focus, .input-box input:hover {
  border-color: rgb(0, 0, 0);
  transform: scale(1.01);
}

.input-box textarea {
  width: 100%;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border: 3px solid transparent;
  border-radius: 7px;
  box-shadow: 0px 13px 6px -7px rgba(0, 0, 0, 0.1);
  resize: none;
  padding: 5px 10px;
}

.input-box i {
  color: rgb(0, 0, 0);
  transform: translateY(-185%) translateX(250px);
}

form > button {
  background: #ffffff;
  color: #8d8379;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 13px 6px -7px rgba(0, 0, 0, 0.1);
}
form > button:hover {
  background-color: #8d8379;
}

/*# sourceMappingURL=estilos.css.map */
