/* paleta de colores 
#000000 negro   
#F4DFC8 beige
#F4EAE0  gris clarito 
#FAF6F0 casi blanco */
/* font */

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200&family=Karla:ital,wght@1,200&family=Oswald:wght@700&family=Tajawal:wght@200;300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kalnia:wght@200&display=swap');



                                                                /* Footer */

                                                                .footer-pagina {

                                                                    background-color: #ffffff;
                                                                    width: 100%;
                                                                    text-align: center;
                                                                    margin-top: 50px;
                                                                    box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.1);
                                                                   
                                                                    
                                                                }
                                                                
                                                                .pie-pagina .grupo-1 {
                                                                    margin: auto;
                                                                    padding-top: 0px;
                                                                    
                                                                    
                                                                }
                                                                
                                                                }
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                                                                        /* SECCION DE CONTACTANOS */
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                .footer-pagina-contactanos {
                                                                
                                                                  
                                                                  background-color: #ffffff;
                                                                    width: 100%;
                                                                    text-align: center;
                                                                     
                                                                    box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.1);
                                                                     
                                                                }
                                                                
                                                                .footer-pagina-contactanos .grupo-1 .footer-seccion img {
                                                                
                                                                    width: 80px;
                                                                }
                                                                











/* font-family: 'Kalnia', serif;
font-family: 'Karla', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Tajawal', sans-serif;*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   

    font-family: 'Kalnia', serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

ul{
    list-style: none;
}

.contenedor{
    width: 100%;

}


                                                          
















                                                        /* SECCION DE CONTACTANOS */








.main-contactanos{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo-contactenos.jpg);
    opacity: 80%;
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat; 
}

.contenedor-contactanos {
    margin-top: 70px;
    margin-bottom: 24px;
    margin-right: 28%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding: 15px;
    gap: 10px;
    width: 100%;
   
} 

.box-info {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 40px;
}

.box-info h1 {

    text-align: left;
    margin-left: 45px;
    
    letter-spacing: 5px;
    font-family: 'Kalnia', serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tajawal', sans-serif;
}


.data {

    display:  flex;
    flex-direction: column;
    gap: 15px;
    
    font-family: 'Tajawal', sans-serif;
}

.data p {

    font-size: 1rem;
    
    font-family: 'Tajawal', sans-serif;
}

.data p i {

    margin-right: 10px;
    font-size: 25px;

}

.links-contactos {
    margin-left: 25px;
    display: flex;
    gap: 35px;
}

.links-contactos a {

    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 7px;

    transition: .1s;
    color: #000000;
    line-height: 40px;
    font-size: 20px;
}

.form {

    display:  flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    outline: none;
    background-color: #fffffffc;
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: .3s;
    color: rgb(0, 0, 0);
    box-shadow: 0px 13px 6px -7px rgba(0,0,0,0.1);

}

.input-box input:focus, .input-box textarea:focus {
    border-color: rgb(0, 0, 0);
    transform: scale(1.01);
}

.input-box input:hover  {
    background-color: #dbdbdb63;
}

.input-box textarea {

    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-radius: 7px;
    box-shadow: 0px 13px 6px -7px rgba(0,0,0,0.1);
    resize: none;
    padding: 5px 10px;   


}

.input-box i {
    color: rgb(0, 0, 0);
    
    transform: translateY(-185%) translateX(250px);
    
}

form > button {

    background: #ffffff;
    color: #8d8379;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 13px 6px -7px rgba(0,0,0,0.1);
}

.form > button:hover 
.links-contactos > a :hover {

    background-color: #8d8379;

}

   

                                                            /* GALERIA */




                                            



           /* MediaQ*/



/* MediaQ GALERIA*/


@media (max-width: 880px)  {

    .galeria-imagenes  {

        flex: 50%;
    }
}

@media (max-width: 600px)  {

    .galeria-imagenes  {

        flex: 100%;
    }
}

/* MediaQ Nav*/


@media screen and (max-width: 768px) {
    .nav-principal {
        font-size: 17px;
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        min-height: 20px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 13px 13px 3px rgba(0,0,0,0.1);
        margin: auto;
        padding: 0 10px;  }

    .nav-principal img {
        margin: 10px;
    }

    

    .nav-principal img{
        width: 20px;
    }

    .nav-principal ul {
        display: flex;
        flex-direction: row;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; 
    }

    .nav-principal ul li {
        padding: 15px;
        margin-right: 1;   
        margin: 0;  
    }

    .nav-principal ul.nav-menu {
        display: flex; 
    }

    .nav-principal ul li a:hover {
        border-bottom: 2px solid #F4EAE0;
    }

    .abrir-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        top: 0;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0px 13px 13px 3px rgba(0,0,0,0.1);
    }
}




     /* MediaQ Sobre nosotros*/



     
     @media screen and (max-width: 768px) {
        .contenedor-contactanos {
            margin-right: 10%;
        }
    }
    
    @media screen and (max-width: 480px) {
        .contenedor-contactanos {
            grid-template-columns: 1fr;
            margin-right: 5%;
        }
    }




     /* MediaQ Sobre Mi*/


     
     @media screen and (max-width: 768px) {
         .contenedor-sobremi {
             width: 100%;
             min-height: auto;
             display: flex;
             flex-direction: column;
             align-items: center;
         }
     
         .row-sobremi {
             width: 100%;
             display: flex;
             flex-direction: column;
             padding: 2rem 0;
             margin: 0;
         }
     
         .row-sobremi .imagen-alejo img {
             height: auto;
             width: 100%;
             object-fit: cover;
             transition: 0.9s;
         }
     
         .row-sobremi .contenedor-wrapper {
             width: 100%;
             padding: 0 20px;
             margin: 0;
         }
     
         .row-sobremi .contenedor-dos span.texto-alejo h2 {
             font-size: 30px;
             line-height: 1.5;
             margin-bottom: 10px;
             padding-bottom: 5px;
         }
     
         .row-sobremi .contenedor-dos span.texto-alejo span {
             font-size: 14px;
             width: 50px;
             height: 3px;
         }
     
         .row-sobremi .contenedor-wrapper span.texto-alejo p {
             font-size: 16px;
             line-height: 22px;
             padding: 10px 0;
         }
     
         .row-sobremi .contenedor-wrapper a {
             padding: 12px 30px;
             margin-top: 35px;
         }
     }

                                /*MediaQ Simboligia "algo"*/


     @media screen and (max-width: 768px) {
        .Cards-contenedor {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
        }
    
        .card {
            width: 90%;
            margin-bottom: 20px;
        }
    }
     ```