// Navegacion

.container-fluid {
  font-size: 17px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255);
  align-items: center;
  box-shadow: 0px 13px 13px 3px rgba(0, 0, 0, 0.1);
}

.navbar {
  height: 80px;
  
  border-radius: 100px;
}

.nav-marca {
  width: 80px;
}

.nav-principal img {
  margin-left: 18px;
}

.offcanvas-body ul li {
  padding: 15px;
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 800;
  position: relative;
  text-decoration: none;

  &:hover,
  &.active {
      color: #000000;
  }

  &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #b46e6e75;
      visibility: hidden;
      transition: 0.2s ease-in-out;
  }

  &:hover::before {
      width: 100%;
      visibility: visible;
  }
}

/* main de index */ 


/* Footer */

.footer-pagina {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.1);
  
    .pie-pagina {
      .grupo-1 {
        margin: auto;
        padding-top: 0px;
        width: 80px;
  
        .footer-seccion {
          img {
            width:80px;
          }
        }
      }
    }
  }

  .footer-seccion {
    img {
      width: 80px;
    }
  }
  
  .red-social {
    margin: 10px;
    
  }
  
  /* SECCION DE CONTACTANOS */
  
  .footer-pagina-contactanos {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.1);
  
    .grupo-1 {
      .footer-seccion {
        img {
          width: 80px;
        }
      }
    }
  }
