 /* MediaQ*/




/* MediaQ Nav */
@media screen and (max-width: 768px) {
    .nav-principal {
        font-size: 17px;
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        min-height: 20px;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 13px 13px 3px rgba(0,0,0,0.1);
        margin: auto;
        padding: 0 10px;  

        img {
            margin: 10px;
            width: 20px;
        }

        ul {
            display: flex;
            flex-direction: row;
            overflow-x: auto; 
            -webkit-overflow-scrolling: touch; 
        }

        ul li {
            padding: 15px;
            margin-right: 1;   
            margin: 0;  
        }

        ul.nav-menu {
            display: flex; 
        }

        ul li a:hover {
            border-bottom: 2px solid #F4EAE0;
        }

        .abrir-menu {
            display: none;
        }

        &.nav-menu {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            top: 0;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0px 13px 13px 3px rgba(0,0,0,0.1);
        }
    }
}

/* MediaQ Sobre nosotros */
.contenedor-sobremi {
    width: 100%;
    min-height: 100vh;
    display: grid;

    @media screen and (max-width: 768px) {
        .row-sobremi {
            grid-template-columns: 1fr;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem 0;
            grid-gap: 20px;
        }
        
        .contenedor-sobremi .contenedor-wrapper {
            padding-left: 0;
        }
        
        .row-sobremi .imagen-alejo img {
            height: auto;
        }
        
        .contenedor-dos span.texto-alejo h2 {
            font-size: 35px;
            line-height: 40px;
        }
        
        .contenedor-dos span.texto-alejo span {
            width: 50px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .row-sobremi {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }
    }
}


/* MediaQ Galeria */

@media (max-width: 880px) {
    .galeria-imagenes {
      flex: 50%;
      
    }
  }
  
  @media (max-width: 600px) {
    .galeria-imagenes {
      flex: 100%;
    }
  }


/* MediaQ Contacto */

  @media screen and (max-width: 768px) {
    .contenedor-contactanos {
      margin-right: 10%;
    }
  }
  
  @media screen and (max-width: 635px) {
    .contenedor-contactanos {
      grid-template-columns: 1fr;
      margin-right: 5%;
      
    }
  }


  








    


    